<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FcuForum | Sign in</title>
</head>
<body>

    <h1>FcuForum | Sign in</h1>

    <form action="/login" method="post">
        <fieldset>
            <label for="username"><b>Username:</b></label><br>
            <input type="text" id="username" name="username" minlength="6"
                   maxlength="20" pattern="[a-zA-Z0-9]{6,}" required>
            <br><br>
            <label for="password"><b>Password:</b></label><br>
            <input type="password" id="password" name="password" minlength="8"
                   maxlength="20" pattern="[a-zA-Z0-9]{8,}" required>
            <br><br>
            <input type="reset" value="Clear">
            <input type="submit" name="sign_in" value="Sign in">
            &nbsp;&nbsp;
            <a href="/register">
                <span>Sign up</span>
            </a>
            <br><br>
            <span th:text="${tip_message}" style="color:#FF0000"></span>
        </fieldset>
    </form>

</body>
</html>