<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FcuForum | Register</title>
</head>
<body>

    <h3>Register successfully. We have sent a verification email to you. Please go to verify your account within 10 minutes.</h3>
    <a href="/">
        <span>Go back</span>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/register/verify/resend">
        <span>Resend verification email</span>
    </a>
    &nbsp;&nbsp;
    <span th:text="${tip_message}" style="color:#FF0000"></span>

</body>
</html>