<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FcuForum | Post</title>
    <style>
        .post_div {
            width: 80%;
            border: 3px solid black;
        }
    </style>
</head>
<body>
    <script type="module" src="https://md-block.verou.me/md-block.js">
        import {MarkdownBlock, MarkdownSpan, MarkdownElement} from "https://md-block.verou.me/md-block.js";
    </script>

    <h1>FcuForum | Post</h1>

    <div class="post_div">
        <md-block th:text="'# ' + ${post.getTitle()}">...title...</md-block>
        <span>by</span>
        <strong th:text="${post.getUser().getUsername()}">...user...</strong>
        <span>on</span>
        <strong th:text="${post.getModifyDate()}">...date...</strong>
        <hr>
        <md-block class="post_md_block" th:text="${post.getContent()}">...content...</md-block>
    </div>

</body>
</html>